.survivors-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    border: 1px solid;
    background-color: lightgrey;
    max-height: 75vh;
    margin-bottom: 10px;
    padding: 5px 10px
}

.survivors-list-filter {
    display: flex;
    justify-content: center;
    margin: 5px 10px;
}

@media screen and (max-height: 605px) {
    .survivors-list-container {
        height: 300px;
    }
}

@media screen and (max-height: 700px) {
    .survivors-list-container {
        max-height: 350px;
    }
}

@media screen and (max-height: 800px) {
    .survivors-list-container {
        max-height: 400px;
    }
}

.survivor-list-main {
    padding: 0px 10px
}
